.formControl.error input {
  border: 2px solid red;
}

.formControl.error textarea {
  border: 2px solid red;
}

.formControl.error span {
  margin-bottom: 4px;
  display: block;
  color: red;
}

.formSummaryError {
  margin: 5px auto;
  padding: 5px;
  display: inline-block;
  border: 1px solid red;
  color: red;
}