.header {
    position: relative;
    grid-area: h;
    background-color: indigo;
    display: flex;
    justify-content: space-between;
    /*padding-left: 5px;*/
}

.header img {
    display: inline-block;
    height: 100%;
}

.loginBlock {
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*right: 5px;*/
    /*float: right;*/
    color: aqua;
    display: flex;
    align-items: center;
    /*padding: 8px 17px;*/
    padding-right: 17px;
}

.loginBlock a {
    /*display: grid;*/
    /*place-items: center;*/
    color: white;
}

.loginBlock img {
    height: 44px;
}

