.header {
    position: relative;
    grid-area: h;
    background-color: indigo;
    display: flex;
    justify-content: space-between;
}

.header img {
    display: inline-block;
    height: 100%;
}

.loginBlock {
    color: aqua;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.loginBlock a {
    color: white;
}

.loginBlock img {
    height: 44px;
}

