.nav {
	grid-area: n;
	background-color: rgb(189, 165, 206);
	padding: 15px;
	margin: 10px 10px 0 0;
}

.item {
	color: #fff;
	text-decoration: none;
}

.active {
	color: gold;
	text-decoration: none;
}

.settings {
	padding-top: 33px;
}

.friends {
	padding-top: 50px;
}

/*.item a.active {*/
/*	color: gold;*/
/*}*/