/* .content img {
	width: 1000px;
} */

/*.image {*/
/*    width: 1000px;*/
/*}*/

.descriptionBlock {
    /*padding: 10px;*/
    display: flex;
    align-items: flex-end;
}

.descriptionImg {
  max-width: 225px;
}

.descriptionText {
    margin-left: 10px;
}

.status img {
    /*padding-left: 10px;*/
    max-width: 40px;
}

/*.contactsSocial {*/
/*  padding-left: 20px;*/
/*}*/