/* .content img {
	width: 1000px;
} */

/*.image {*/
/*    width: 1000px;*/
/*}*/

.descriptionBlock {
    /*padding: 10px;*/
    display: flex;
    align-items: flex-start;
    /*align-items: flex-end;*/
}

.descriptionImg {
  display: block;
  max-width: 100%;
}

/*.descriptionText {*/
/*    margin-left: 10px;*/
/*}*/

.left {
  margin-right: 10px;
  max-width: 225px;
}

.Contacts {
  padding-left: 10px;

}

/*.contactsSocial {*/
/*  padding-left: 20px;*/
/*}*/

.bold {
  color: indigo;
  font-size: 18px;
}

.bold img {
  /*padding-left: 10px;*/
  max-width: 40px;
}
