.app-wrapper {
	display: grid;
	margin: 0 auto;
	width: 1200px;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas: 
	"h h"
	"n c";
}

.app-wrapper-content {
	grid-area: c;
	background-color: rgb(166, 159, 172);
	margin-top: 10px;
}
