.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

/*.dialogsItem .active {*/
/*    color: red;*/
/*}*/

/*.dialog {*/
/*    color: #fff;*/
/*}*/

.dialog.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}



